<?xml version="1.0"?>
<config>
    <global>
        <models>
            <somethingdigital_modal>
                <class>SomethingDigital_Modal_Model</class>
            </somethingdigital_modal>
        </models>
        <helpers>
            <somethingdigital_modal>
                <class>SomethingDigital_Modal_Helper</class>
            </somethingdigital_modal>
        </helpers>
        <blocks>
            <somethingdigital_modal>
                <class>SomethingDigital_Modal_Block</class>
            </somethingdigital_modal>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <somethingdigital_modal>
                    <file>somethingdigital_modal.xml</file>
                </somethingdigital_modal>
            </updates>
        </layout>
    </frontend>
    <default>
        <cms>
            <modal>
                <enabled>0</enabled>
                <cookie_duration>365</cookie_duration>
                <skip_cookie_check>0</skip_cookie_check>
            </modal>
        </cms>
    </default>
</config>
