<?xml version="1.0"?>
<config>
    <sections>
        <cms>
            <groups>
                <modal translate="label">
                    <label>Modal</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>110</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <block translate="label">
                            <label>Static Block</label>
                            <frontend_type>select</frontend_type>
                            <source_model>somethingdigital_modal/system_config_source_staticblocks</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </block>
                        <show_after_page_views translate="label">
                            <label>Show After X Page Views</label>
                            <frontend_type>text</frontend_type>
                            <comment>Allows the modal to be suppressed until the visitor has viewed a certain amount of pages. For example, to show on the visitors second page view set this to 1</comment>
                            <sort_order>15</sort_order>
                            <validate>required-entry validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_after_page_views>
                        <modal_z_index>
                            <label>Modal Z-Index</label>
                            <frontend_type>text</frontend_type>
                            <comment>Z-index for modal</comment>
                            <validate>required-entry validate-number</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </modal_z_index>
                        <close_on_outside_clicks translate="label comment">
                            <label>Close On Outside Clicks</label>
                            <comment>Determines whether the modal should be closed if the user clicks outside of the modal</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </close_on_outside_clicks>
                        <close_after_seconds translate="label comment">
                            <label>Close After X Seconds</label>
                            <comment>Modal will be automatically closed after this number of seconds once it has been successfully submitted. Set to 0 or leave blank if you'd like the modal to stay open until the user explicity closes it</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </close_after_seconds>
                        <overlay_opacity>
                            <label>Overlay Opacity</label>
                            <comment>Opacity for overlay behind modal (e.g. 0.7)</comment>
                            <validate>required-entry validate-digits-range digits-range-0-1</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overlay_opacity>
                        <error_message>
                            <label>Error Message</label>
                            <comment>Message that will be displayed if the form fails to submit</comment>
                            <validate>required-entry</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_message>
                        <cookie_duration translate="label commment">
                            <label>Cookie Duration</label>
                            <comment>Number of days user will be cookied as having "seen" the modal (after they've seen it...)</comment>
                            <validate>required-entry validate-greater-than-zero</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cookie_duration>
                        <skip_cookie_check translate="label commment">
                            <label>Skip Cookie Check</label>
                            <comment>Useful during frontend development so you don't have to delete your cookies everytime your load the page</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skip_cookie_check>
                        <skip_if_already_subscribed translate="label commment">
                            <label>Skip If Already Subscribed</label>
                            <comment>Modal will not be shown if the user has already subscribed (email address exists in Newsletter Subscribers). This should most likely be set to "Yes", unless the modal will serve another purpose than to collect email addresses</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skip_if_already_subscribed>
                        <skip_if_already_logged_in translate="label commment">
                            <label>Hide From Logged In Customers</label>
                            <comment>Hide modal from customers who are already logged in.</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skip_if_already_logged_in>
                    </fields>
                </modal>
            </groups>
        </cms>
    </sections>
</config>
